<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width-device-width, initial-scale=1.0'>
    <title>Hook I/O | <%= title %>
    </title>
</head>

<body>

    <nav>
        <div class='site-title'>
            <a href='/'>
                <h1>About</h1>
            </a>
        </div>
        <ul>
            <li><a href='/'>Home</a></li>
            <li><a href='/about'>About</a></li>
            <li><a href='/users/new'>Create User</a></li>
        </ul>
    </nav>

    <div class='filler content'>
        <h2>Insert Filler</h2>

        <% if (testInput.length> 0) { %>
            <% testInput.forEach(testInput=> { %>
                <h3 class='title'>
                    <%= testInput.title %>
                </h3>
                <p class='snippet'>
                    <%= testInput.snippet %>
                </p>
                <%}) %>
                    <% } else { %>
                        <p>Nothing to display</p>
                        <% } %>
    </div>

</body>

</html>