<html lang='en'>

<%- include('./partials/head.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>
            <div class='title'>Sign Up</div>
            <%- include('./partials/response-message.ejs') %>
                <div class='create-user content'>
                    <form action='/api/signup' method='POST'>
                        <label for='email'>Input Email:</label>
                        <input type='text' id='email' name='email' required>
                        <label for='password'>Password:</label>
                        <input type='password' name='password' required></textarea>
                        <label for='confirmPassword'>Confirm Password:</label>
                        <input type='password' name='confirmPassword' required></textarea>
                        <button>Submit</button>
                    </form>
                </div>

                <%- include('./partials/footer.ejs') %>
    </body>

</html>